name: Pull Request Preview

on:
  pull_request_target:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  prepare:
    runs-on: ubuntu-latest
    permissions:
      contents: read        # checkout
      actions: write        # upload-artifact
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          PUPPETEER_DOWNLOAD_BASE_URL=https://storage.googleapis.com/chrome-for-testing-public yarn install --frozen-lockfile

      - name: Build
        env:
          NODE_OPTIONS: "--max-old-space-size=8192"
        run: |
          yarn gen-api-docs
          yarn build

      - name: Upload build to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ./build
